body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul li a {
  text-decoration: none;
}

ul li a.active {
  background: black;
  color: white;
}

.main-image {
  background-image: url("../images/index-pg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  overflow: auto;
  height: 100vh;
}

.reserve-image {
  background-image: url("../images/reserve-pg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  overflow: auto;
  height: 100vh;
}
.review-image {
  background-image: url("../images/review-pg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  overflow: auto;
  height: 100vh;
}

.cancel-image {
  background-image: url("../images/cancel-pg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  overflow: auto;
  height: 100vh;
}

.form-style {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px;
  /* width: 40%; */
  background-color: aliceblue;
}
.heading-style {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px;
  /* width: 40%; */
  background-color: aliceblue;
}

.form-style > #tab-two,
#tab-three,
#tab-four,
#prev-btn {
  display: none;
}

.custom-margin {
  margin-top: 30px;
}

.error-text {
  color: crimson;
}

.text-center {
  text-align: center;
}
